/********************************************************************************
 * Copyright (c) 2021-2023 Bayerische Motoren Werke Aktiengesellschaft (BMW AG)
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 ********************************************************************************/

#include "Conversion/OscToNode/{{filename}}.h"

#include <memory>

#include "Conversion/OscToNode/Parse{{node.raw_type}}.h"
#include <agnostic_behavior_tree/composite/parallel_node.h>

yase::BehaviorNode::Ptr parse({{ node.type }} {{ util.local(node) }})
{
    auto node = std::make_shared<yase::ParallelNode>("{{ name }}");
    for (const auto& {{ util.local(node.raw_type) }} :{{ util.local(node) }})
    {
        node->addChild(parse({{ util.local(node.raw_type) }}));
    }
    return node;
}
